body {
    background: #eee;
    padding: 0;
    margin: 0;
}

.admin-body {
    padding: 20px;
}
.sidebar {
    width: 240px;
    padding:0;
    position: absolute;
}
.mainbar {

    display: block;
    margin: 0;
    margin-left: 270px;
}

aside {
  position: absolute;
  left: 0;
  width: 300px;
}

main {
  position: absolute;
  left: 310px;
}

ul.breadcrumbs-list {
  margin: 0;
  padding: 0;
}

ul.breadcrumbs-list li {
  display: inline-block;
  margin-right: 20px;
}

ul.breadcrumbs-list li a:not(.breadcrumb-active) {
  font-weight: bold;
  margin-right: 20px;
}

ul.breadcrumbs-list li a.breadcrumb-active {
  text-decoration: none;
  cursor: default;
}


.Login {
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    display: 'inline-block',
}

.LoginButton {
    margin-top: 20px;
}

.flatPaper {
    padding: 10px 20px;
}

.formPaper .controller {
    text-align: right;
}

.notifyBar {
    color: #000;
    background: #fff;
}

.paginate {
    display: inline-block;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
}

.paginate ul {
    margin: 0;
    padding: 0;
    clear: both;
}

.paginate li {
    float: left;
    list-style: none;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: -2px;
    color: #666
}
.paginate li.prev, .paginate li.next  {
    margin: 0;
    padding: 0
}

.paginate li a {
    text-decoration: none;
    color: #000;
}

.paginate li:hover {
    cursor: pointer;
}
.paginate li a:hover {
    text-decoration: underline;
}
