body {
    background: #eee;
    padding: 0;
    margin: 0;
}

.admin-body {
    padding: 20px;
}
.sidebar {
    float: left;
    width: 240px;
    padding:0;
}
.mainbar {
    margin-left: 260px;
}

aside {
  position: absolute;
  left: 0;
  width: 300px;
}

main {
  position: absolute;
  left: 310px;
}

ul.breadcrumbs-list {
  margin: 0;
  padding: 0;
}

ul.breadcrumbs-list li {
  display: inline-block;
  margin-right: 20px;
}

ul.breadcrumbs-list li a:not(.breadcrumb-active) {
  font-weight: bold;
  margin-right: 20px;
}

ul.breadcrumbs-list li a.breadcrumb-active {
  text-decoration: none;
  cursor: default;
}


.Login {
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    display: 'inline-block',
}

.LoginButton {
    margin-top: 20px;
}

.flatPaper {
    padding: 10px 20px;
}

.formPaper .controller {
    text-align: right;
}

.notifyBar {
    color: #000;
    background: #fff;
}
